.TodoSearch{
  width: 280px;
  height: 60px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.TodoSearch:focus{
  outline-color: #61DAFA;
}